<div class="mh-100vh flex flex-column align-items-center justify-content-center">

  <div>
    <div class="flex flex-column align-items-center justify-content-center">
    <form (submit)="onSubmit($event)">
      <input [disabled]="loading" type="file" multiple (change)="onFileSelected($event)" accept="image/*">
      <button [disabled]="loading" type="submit">{{loading ? 'Uploading...' : 'Upload'}}</button>
    </form>
  </div>
  
  <div>
    <p *ngFor="let link of linksArr"><a [href]="link">{{link}}</a></p>
  </div>
</div>
</div>